@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

body{
  background-color: #E5F3F6;
  color: #4f6b86;
}
.App {
  text-align: center;
}
h3{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 36px;
}
.app__form{
  position: fixed;
  bottom: 0;
  margin: 20px;
  padding: 20px;
  width: 100%;
  z-index: 1;

}

.app__formControl{
  display: flex !important;
  flex-direction: row !important;

}

.app__input{
  flex: 1.5;
}
.app__button{
  flex: 0.5;
}

